<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
    <meta charset="UTF-8">
    <title>首页框架</title>
</head>
<body>
<div class="ui three column grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <img class="ui image" src="../../firstweb/logodao.comBSSC00000054.png">
        <div class="ui seven item menu">
            <a href="#" class="item">首页</a>
            <a href="www.baidu.com" class="item">1</a>
            <a href="#" class="item">2</a>
            <a href="#" class="item">3</a>
            <a href="#" class="item">4</a>
            <a href="#" class="item">5</a>
            <a href="#" class="item">6</a>
        </div>
        <div class="ui vertical segment">
            <div class="ui segments">
                <div class="ui segment">
                    <p>Top</p>
                </div>
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Nested Top</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Middle</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Bottom</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical segment">
            <div class="ui segments">
                <div class="ui segment">
                    <p>Top</p>
                </div>
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Nested Top</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Middle</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Bottom</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical segment">
            <div class="ui segments">
                <div class="ui segment">
                    <p>Top</p>
                </div>
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Nested Top</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Middle</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Bottom</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical segment">
            <div class="ui segments">
                <div class="ui segment">
                    <p>Top</p>
                </div>
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Nested Top</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Middle</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Bottom</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="two wide column"></div>
</div>

</body>
</html>