<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="'stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
    <meta charset="UTF-8">
    <title>盛世流萤</title>
</head>
<body>
<h1>标题1</h1>
<p>段落1</p>
<p1>段落2</p1>
<h2>标题2</h2>
<p>段落1</p>
<h3>标题3</h3>
<p>段落1</p>
<h4>标题4</h4>
<p>段落1</p>
<a href="https://www.baidu.com">baidu</a>
<br/>
<img src="{% static 'images/R-C (1).jpg' %}" width="750" height="640"/>
<table border="1">
<tr>
    <td>1</td>
    <td>2</td>
</tr>
    <td>1</td>
    <td>2</td>
</table>
</body>
</html>